<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <title>Rental Buddy</title>
    <link rel="stylesheet" href="styles/Contact-Us/contactus.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("4O6vhrsNH5ZUiGU78");
        })();

        function SendMail(event) {
            event.preventDefault();

            var params = {
                from_name: document.getElementById("fullName").value,
                email_id: document.getElementById("email_id").value,
                message: document.getElementById("message").value
            };

            emailjs.send("service_9go9kn8", "template_ozish0v", params)
                .then(function (res) {
                    alert("Success! " + res.status);
                }).catch(function (error) {
                    alert("Failed to send the email. Error: " + error);
                });
        }
    </script>
</head>

<body>
    <main>
        <div class="container">
            <section class="contact-info">
                <div>
                    <div class="heading">Let's get in touch</div>
                    <div class="text">
                        "Your message matters. Drop us a line and let's start the conversation."
                    </div>
                </div>
                <div class="info">
                    <div class="address-text">
                        <div>
                            <i class="fa-regular fa-map"></i>
                        </div>
                        <div>
                            25 Sector, Panjab University
                            <div>
                                Chandigarh,
                                India
                            </div>
                        </div>
                    </div>
                    <div class="email text">
                        <i class="fa-solid fa-envelope-open-text"></i>
                        RentalBuddy@gmail.com
                    </div>
                    <div class="phone-number text">
                        <i class="fa-solid fa-phone-volume"></i>
                        340-890-1657
                    </div>
                </div>
                <div class="social-media">
                    <div class="title">
                        Connect with us:
                    </div>
                    <div class="icons">
                        <a href="https://x.com/Unknown_69___"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/hitanshu.bansal45/"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/mudit.arora.58118"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/mohit-davar-b85958281/"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </section>
            <form class="form" onsubmit="SendMail(event)">
                <div class="heading">Contact us</div>
                <div class="inner-form">
                    <input type="text" id="fullName" placeholder="Name" required>
                    <input type="email" id="email_id" placeholder="Email" required>
                    <textarea placeholder="Message" id="message" rows="3" required></textarea>
                    <div class="button">
                        <button type="button" onclick="SendMail(event)">Send</button>
                        <button><a href="/home">Back</a></button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
