<div class="bg-black navContainer w-full relative">
    <!-- PC Navbar -->
    <nav
        class="flex justify-between py-9 px-[5vw] items-center lower text-[color:var(--theme-color-2)] font-extrabold">
        <!-- Logo -->
        <div class="logo z-10"><img
                src="https://motors.stylemixthemes.com/rent-a-car/wp-content/uploads/sites/7/2017/01/motors_car_rental_logo.svg"
                alt="Logo"></div>
        <!-- Sections for different Pages -->
        <div class="sections hidden lg:flex gap-[50px]">
            <div class="floatingNavElement p-2 relative">
                <div class="home section absolute"><a href="/home">Home</a></div>
            </div>
            <div class="floatingNavElement p-2 relative">
                <div class="Renting section"><a href="/rent">Rent</a></div>
            </div>
            <div class="floatingNavElement p-2 relative">
                <div class="Rentable section"><a href="/rentable">Rentable</a></div>
            </div>
            <div class="floatingNavElement p-2 relative">
                <div class="contactus section"><a href="/contactUs">Contact</a></div>
            </div>
            <div class="floatingNavElement p-2 relative">
                <div class="AboutUs section"><a href="/aboutUs">About Us</a></div>
            </div>
        </div>
        <!-- Mobile Number -->
        <div class="numberg hidden xl:block">
            <i
                class="fa-solid fa-phone bg-[color:var(--theme-color-2)] mr-2 rounded-full p-3 text-white"></i>878-9671-4455
        </div>
        <!-- Hamburger Menu -->
        <button class="button-three lg:hidden z-30  right-10" aria-controls="primary-navigation"
            aria-expanded="false">
            <svg stroke="var(--button-color)" fill="none" class="hamburger" viewBox="-10 -10 120 120"
                width="50">
                <path class="line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
                    d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70">
                </path>
            </svg>
        </button>
    </nav>
</div>