<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css files/navbar.css">
    <link rel="stylesheet" href="css files/intro.css">
    <link rel="stylesheet" href="css files/typing.css">
    <link rel="stylesheet" href="css files/sun.css">
    <link rel="stylesheet" href="css files/Sectors.css">
    <link rel="stylesheet" href="css files/why-us.css">
    <link rel="stylesheet" href="css files/testimonials.css">
    <link rel="stylesheet" href="css files/Vendors.css">
    <link rel="stylesheet" href="css files/FAQ.css">
    <link rel="stylesheet" href="css files/footer.css">
    <title>Smart Solar Savings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            /* background-color: blue; */
        }
        html{
            scroll-behavior: smooth;
        }
        main {
            position: relative;
            top: 100px;
        }


        main section {
            margin-bottom: 4rem;
        }

    </style>
</head>

<body>
    <div class="container">
        <nav id="nav" class="desktop-nav">
            <div class="logo">
                <div class="logo-text">Logo</div>
            </div>
            <div class="menu-options">
                <div class="options" id="Home"><a href="index.html">Home</a><span></span></div>
                <div class="options" id="Savings"><a href="">Save Money</a><span></span></div>
                <div class="options" id="solar-panels"><a href="">Solar Panels</a><span></span></div>
                <div class="options" id="solar-roof"><a href="">Solar Roof</a><span></span></div>
                <div class="options" id="contact-us"><a href="Contact-form-remake.html">Contact Us</a><span></span>
                </div>
                <!-- <div class="options" id="solar-roof"><a href="">About Us</a><span></span></div> -->
            </div>
            <div class="buttons">
                <button class="login-signup" id="login"><a href="login-form.html">Login</a></button>
                <button class="login-signup" id="signup"><a href="signup-form.html">Sign Up</a></button>
                <div class="mobile-display">
                    <i class="fa-solid fa-bars" id="menubar"></i>
                </div>
            </div>

        </nav>
        <nav class="mobile-nav" id="verticalbar">
            <div class="options" id="Home"><a href="index.html">Home</a><span></span></div>
            <div class="options" id="Savings"><a href="">Save Money</a><span></span></div>
            <div class="options" id="solar-panels"><a href="">Solar Panels</a><span></span></div>
            <div class="options" id="solar-roof"><a href="">Solar Roof</a><span></span></div>
            <div class="options" id="contact-us"><a href="Contact-form-remake.html">Contact Us</a><span></span></div>
            <div class="cross" id="cross"><i class="fa-xmark fa-solid"></i></div>
        </nav>
        <main>
            <section class="intro">
                <article class="left">
                    <div>
                        Time to do something <span>good </span>for your <span>Wallet</span> and the <span>Earth</span>
                        <p>
                            "Power Your Future with Clean Energy! Discover Efficient Solar Solutions for Your Home or
                            Business. Go Green and Save Big on Energy Bills Today. Trust our Expertise for Sustainable
                            and Reliable Solar Panels. Join the Renewable Revolution!"
                        </p>
                    </div>

                    <button>
                        <a href="signup-form.html" style="color: white; text-decoration: none;">Start Now</a>
                    </button>
                </article>
                <article class="right"></article>
            </section>
            <section class="solar-energy">
                <article class="text-track">
                    <div class="static-text">
                        Solar Energy Is
                    </div>

                    <ul class="dynamic-text">
                        <li><span style="--i: 5">Clean</span></li>
                        <li><span style="--i: 7">Healthy</span></li>
                        <li><span style="--i: 9">Efficient</span></li>
                        <li><span style="--i: 6">Future</span></li>
                    </ul>
                </article>
            </section>
            <section class="sun">
                <div class="smile">
                </div>
                <div class="container">
                    <div class="eyes" id="eye1">
                        <div class="balls" id="ball1">
                            <div class="shade" id="shade1"></div>
                        </div>
                    </div>
                    <div class="eyes" id="eye2">
                        <div class="balls" id="ball2">
                            <div class="shade" id="shade1"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="service-sectors">
                <div class="pre-title hidden reveal">Sectors</div>
                <div class="title hidden reveal">Same Solution For Different Needs</div>
                <div class="wrapper">
                    <div class="box">
                        <div class="image"></div>
                        <div class="text">
                            <div class="heading">Residential</div>
                            <div class="content">
                                Welcome to a brighter future with our solar power solutions designed for your home. Join
                                the green revolution and embrace clean energy with ease.
                            </div>
                            <div class="button">
                                <button>More</button>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image"></div>
                        <div class="text">
                            <div class="heading">Corporate</div>
                            <div class="content">
                                Elevate your corporate sustainability profile by partnering with us. Our comprehensive
                                range of energy systems is designed to meet the energy needs of your business.
                            </div>
                            <div class="button">
                                <button>More</button>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image"></div>
                        <div class="text">
                            <div class="heading">Industrial</div>
                            <div class="content">
                                Revolutionize your industrial operations with our solar power solutions. Our
                                industrial-grade panels and energy systems are engineered to meet the energy
                                requirements of you.
                            </div>
                            <div class="button">
                                <button>More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="why-us hidden reveal">
                <div class="text">
                    why <div>Smart Solar Savings?</div>
                </div>
                <div class="points">
                    <li><i class="fa-solid fa-greater-than"></i>Pan India Presence</li>
                    <li><i class="fa-solid fa-greater-than"></i>20000+ satisfied Customers</li>
                    <li><i class="fa-solid fa-greater-than"></i>Proper Installation Support</li>
                    <li><i class="fa-solid fa-greater-than"></i>Free Maintenance For 2 Years</li>
                    <li><i class="fa-solid fa-greater-than"></i>24X7 service support</li>
                </div>
            </section>
            <section class="testimonial-slider">
                <div class="heading">
                    What <span>Our Customers</span> Have To Say
                </div>
                <div class="my-slide">
                    <div>
                        <div class="slide">
                            <div class="image1 images"></div>
                            <div class="text">
                                <div class="inverted-commas">
                                    <i class="fa-solid fa-quote-left"></i>
                                </div>
                                <div class="inner-text">
                                    Choosing this solar panel company was the best decision for my home. The
                                    installation was seamless, and now I'm generating my own clean energy! Not only have
                                    I seen a drastic reduction in my electricity bills, but the customer service was
                                    exceptional. Highly recommend for anyone looking to go solar!
                                </div>
                                <div class="name">
                                    Natalia Dretington
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slide">
                            <div class="image2 images"></div>
                            <div class="text">
                                <div class="inverted-commas">
                                    <i class="fa-solid fa-quote-left"></i>
                                </div>
                                <div class="inner-text">
                                    Our company's switch to solar power with this company was a game-changer. They
                                    tailored the system to meet our specific needs and seamlessly integrated it into our
                                    operations. The team's professionalism and attention to detail made the entire
                                    process smooth. We're proud to be more sustainable and save on energy costs!
                                </div>
                                <div class="name">
                                    Mathew Smith <div>(KickDam.Co)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="slide">
                            <div class="image3 images"></div>
                            <div class="text">
                                <div class="inverted-commas">
                                    <i class="fa-solid fa-quote-left"></i>
                                </div>
                                <div class="inner-text">
                                    The solar solutions provided by this company have transformed our industrial site.
                                    Our energy bills have plummeted, and the reliability of the system is impressive.
                                    Their expertise in handling large-scale installations is commendable. We're thrilled
                                    with the performance and the positive impact on our bottom line.
                                </div>
                                <div class="name">
                                    Arthur Morgan<div>(Morgan Steels)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="our-vendors">
                <div class="text">
                    <div class="heading"></i>Meet Your <span>Solar Partners:</span> Diverse Vendors, Limitless
                        Solutions!
                    </div>
                    <div class="content">"Partnering with 20+ industry-leading manufacturers for quality assurance."
                    </div>
                </div>
                <div class="container">
                    <div class="slide">
                        <img src="images/emvlogo.png" alt="">
                        <img src="images/icomm-tele-squarelogo.webp" alt="">
                        <img src="images/iNDOSOLAR.jpg" alt="">
                        <img src="images/MoserBaer.webp" alt="">
                        <img src="images/Photon.jpeg" alt="">
                        <img src="images/Synergy-Electric.jpeg" alt="">
                        <img src="images/tata-power.jpg" alt="">
                        <img src="images/Vikram Solar.png" alt="">
                        <img src="images/Waaree.jpeg" alt="">

                    </div>
                    <div class="slide">
                        <img src="images/emvlogo.png" alt="">
                        <img src="images/icomm-tele-squarelogo.webp" alt="">
                        <img src="images/iNDOSOLAR.jpg" alt="">
                        <img src="images/MoserBaer.webp" alt="">
                        <img src="images/Photon.jpeg" alt="">
                        <img src="images/Synergy-Electric.jpeg" alt="">
                        <img src="images/tata-power.jpg" alt="">
                        <img src="images/Vikram Solar.png" alt="">
                        <img src="images/Waaree.jpeg" alt="">

                    </div>
                </div>
                <hr>
            </section>
            <section class="FAQ">
                <div>
                    <div class="heading">FAQs</div>
                    <div class="content">
                        <div class="block">
                            <div class="question">What types of solar panels are available?<i
                                    class="fa-solid fa-chevron-down"></i></div>
                            <div class="answer">We offer a diverse range of solar panels to cater to varying needs and
                                preferences. Our marketplace showcases a selection of panels including monocrystalline,
                                polycrystalline, thin-film, bifacial, and more. Each type differs in efficiency,
                                aesthetics,
                                and suitability for different environments, ensuring you find the right fit for your
                                specific requirements.
                            </div>
                        </div>
                        <div class="block">
                            <div class="question">What payment methods are accepted on your website?<i
                                    class="fa-solid fa-chevron-down"></i></div>
                            <div class="answer">
                                We understand the importance of convenience in payment methods. To ensure a seamless
                                purchasing experience, we accept various payment options including major credit cards
                                (Visa,
                                Mastercard, American Express), PayPal, and bank transfers. This diversity in payment
                                methods
                                aims to accommodate our customers' preferences and facilitate hassle-free transactions.
                            </div>
                        </div>
                        <div class="block">
                            <div class="question">Is there a warranty provided for the solar panels purchased?<i
                                    class="fa-solid fa-chevron-down"></i></div>
                            <div class="answer">
                                Yes, we prioritize customer satisfaction and confidence in the products available on our
                                platform. All solar panels purchased through our marketplace come with comprehensive
                                warranties provided by the respective manufacturers. The warranties typically cover
                                manufacturing defects, performance guarantees, and ensure the panels' durability over an
                                extended period. Details of the warranty terms for each panel are available for your
                                review
                                before making a purchase, ensuring transparency and peace of mind for our customers.
                            </div>
                        </div>
                        <div class="block">
                            <div class="question">What are the shipping options for the solar panels?<i
                                    class="fa-solid fa-chevron-down"></i></div>
                            <div class="answer">
                                We provide multiple shipping options to accommodate various preferences and urgency
                                levels.
                                Our standard shipping ensures cost-effectiveness while maintaining reliable delivery
                                times.
                                Additionally, for those seeking expedited shipping, we offer express delivery options.
                                The
                                choice is yours, allowing flexibility to align with your project timelines.
                            </div>
                        </div>
                        <div class="block">
                            <div class="question">What is your return policy for solar panels?<i
                                    class="fa-solid fa-chevron-down"></i></div>
                            <div class="answer">
                                Our return policy is designed to prioritize customer satisfaction. If for any reason
                                you're
                                unsatisfied with your purchase, we offer a generous return window. Solar panels can be
                                returned within [number of days] days of receipt, provided they are in their original
                                condition and packaging. We facilitate returns to ensure our customers' confidence and
                                peace
                                of mind when making a purchase through our marketplace.
                            </div>
                        </div>
                        <div class="block">
                            <div class="question">Are there any financing options available?<i
                                    class="fa-solid fa-chevron-down"></i></div>
                            <div class="answer">
                                Yes, we understand that investing in solar panels is a significant decision. To assist
                                our
                                customers, we've partnered with financing institutions to offer flexible financing
                                options.
                                Through these partnerships, eligible customers can access convenient financing plans
                                with
                                competitive rates, making solar energy more accessible and affordable for everyone
                                interested in embracing renewable energy solutions. Feel free to explore our financing
                                options to find a plan that best suits your needs and budget.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="icons">
                <div class="back-to-top"><a href="#">Back to top</a></div>
                <div class="social-media">
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="main-footer">
                <div class="topic">
                    <div>
                        <div class="heading">
                            Quick Links:
                        </div>
                        <div class="list">
                            <ul>
                                <li>Blogs</li>
                                <li>Solar Panels</li>
                                <li><a href="aboutus.html">About Us</a></li>
                                <li><a href="Contact-form-remake.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="heading">
                            Resources:
                        </div>
                        <div class="list">
                            <ul>
                                <li>Solar Panel Buying Guide</li>
                                <li>Installation Tips</li>
                                <li>Maintenance FAQs</li>
                                <li>Renewable Energy News</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="heading">
                            Connect With Us:
                        </div>
                        <div class="list">
                            <ul>
                                <li>Partner With Us</li>
                                <li>Terms of Service</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="heading">
                            Activity:
                        </div>
                        <div class="list">
                            <ul>
                                <li>Influencers</li>
                                <li>Affiliate</li>
                                <li>Co-Branding</li>
                                <li>Honor</li>
                                <li>Research</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="news-letter">
                    <p>Newsletter Subscription</p>
                    <input type="text" placeholder="Enter your Email">
                    <button>Subscribe Now</button>
                </div>
            </div>
            <div class="copyright">
                Copyright&copy 2018 Smart Solar Savings. All rights reserved
            </div>
        </footer>
</body>
<script>
    var b = document.getElementsByClassName("balls");

    document.addEventListener("mousemove", function () {
        var x = event.clientX * 100 / window.innerWidth + "%";
        var y = event.clientY * 100 / window.innerHeight + "%";

        for (var i = 0; i < 2; i++) {
            b[i].style.left = x;
            b[i].style.top = y;
            b[i].style.transform = "translate(-" + x + ",-" + y + ")"
        }
    })


    let slider = tns(
        {
            container: ".my-slide",
            "slideBy": "1",
            "speed": 1000,
            "nav": false,
            autoplay: true,
            controls: false,
            autoplayButtonOutput: false,
        }
    )



    const faqContents = document.querySelectorAll('.FAQ .content .block');

    faqContents.forEach(content => {
        const head = content.querySelector('.question')
        const title = content.querySelector('i');
        const paragraph = content.querySelector('.answer');
        head.addEventListener('click', () => {
            paragraph.style.display = (paragraph.style.display === 'block') ? 'none' : 'block';
            head.style.background = (head.style.background === "gold") ? 'white' : 'gold';
            head.style.color = (head.style.color === 'white') ? 'black' : 'white';
        });
    });

    document.getElementById('menubar').addEventListener('click', () => {
        document.getElementById('verticalbar').style.transform = 'scaleY(1)';
        document.getElementById('verticalbar').style.transitionDuration = '0.4s';
    })
    document.getElementById('cross').addEventListener('click', () => {
        document.getElementById('verticalbar').style.transform = 'scaleY(0)';
        document.getElementById('verticalbar').style.transitionDuration = '0.1s';
    })
</script>

</html>