<body>
    <div class="createData">
            <form action="/Rentals/acc" method="post">
            <div class="ryt">

                <label id="titleL" for="title">Title</label>
                <input 
                name="title"
                type="text"
                id="title"
                placeholder="Add a title">

                <label  for="description">Description</label>
                <input 
                type="text"
                name="description"
                id="description"
                placeholder="Add a detailed description"
                style="height: 120px;">

                <label id="L" for="link">Pic title</label>
                <input 
                type="text"
                name="image[filename]"
                id="link"
                placeholder="Add a title for pic">

                <label id="L" for="link">Link</label>
                <input 
                type="text"
                name="image[url]"
                id="link"
                placeholder="Add a link">

                <label id="L" for="By[name]">Link</label>
                <input 
                type="text"
                name="By[name]"
                id="By[name]"
                placeholder="Add a link">

<br>
                <button id="addBtn">Add Post</button>
            </div>
        </form>
        </div>
    </div>
</body>