<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Smart Solar Savings</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="./css/assets/css/signup.css">

      <title>SignUp form</title>
   </head>
   <body>
      <main>
         <div class="form">
             <div class="heading">
                 <span>Si</span>gnup
             </div>
             <form action="/signup" class="login__form" method="POST">
             <div class="inner-form">
                 <div class="Username input-field">
                     <span class="label">Create a Username</span>
                     <span class="icon"><i class="fa-user fa-solid"></i></span>
                     <input type="text" name="username" required minlength="5">
                 </div>
                 <div class="email input-field ">
                     <span class="label">Enter your email</span>
                     <span class="icon"><i class="fa-envelope fa-solid"></i></span>
                     <input type="email" name="email" required minlength="8">
                 </div>
                 <div class="password input-field">
                     <span class="label">Create password</span>
                     <span class="icon"><i class="fa-lock fa-solid"></i></span>
                     <input type="password" name="password" required minlength="8">
                 </div>
             </div>
             <div class="login-bttn">
                 <button> Signup</button>
             </div>
             </form>
 
             <div class="signup">
                 Already have an account?<a href="/login">Login</a>
             </div>
             <div class="home">
                 <a href="index.html">Back</a>
             </div>
         </div>
         <div class="image">
             <div>
                 <div class="heading">
                     "our Journey Begins Here: Rent Cars, Bikes, and Professional Drivers at Your Fingertips"
                 </div>
                 <div class="text">Let's get connected</div>
             </div>
         </div>
     </main>
   </body>
</html>