.FAQ{
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin:0px auto;
    padding-inline: 3vw;
    background-color: gold;
    padding: 5vw;

    /* border: 2px solid red; */

}
.FAQ>div{
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.FAQ .heading{
    padding-left: 2vw;
    font-size: clamp(1.5rem,3vw,10rem);
    font-family: 'Lobster' ,sans-serif;
    color: gold;

}
.FAQ .content .block .question
{
    color: black;
    font-size: clamp(1rem,2vw,10rem);

    padding: 1vw 2vw;
    border-bottom: 3px solid gold;

    font-family:'Ubuntu' ,sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition-duration: .2s;

    cursor: pointer;
}
.FAQ .content .block .question i{
    font-size: clamp(0.75rem,1vw,10rem);
    color: goldenrod;
    cursor: pointer;
}

.FAQ .content .block .answer
{   
    display: none;
    font-family: 'Ubuntu',sans-serif;
    
    color: grey;
    font-size: clamp(0.75rem,1.2vw,10rem);
    padding: 1vw 2vw;
}

