@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

main#category-main {
    background: linear-gradient(to bottom, black 50%, var(--theme-color-2) 50%);
}

main#category-main h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main#category-main .category .text .heading {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main#driver-main h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}